<section class="managerContainer">
    <div class="section-one">
        <h1>A Simple Bookmark Manager</h1>
        <p>A clean and simple interface to organazi your favorite websites. Open a new browser tab and see your sites
            load
            instanly. Try it for free.</p>
        <div class="buttonManager"><app-button [textButton]="'Get it on Chrome'" [customClasses]="'primary'"></app-button><app-button [textButton]="'Get it on Firefox'" [customClasses]="'terceary'"></app-button></div>
    </div>
    <div>
        <img  class="imageManager" src="assets/img/illustration-hero.svg" alt="Simple bookmark manager">
    </div>
</section>