.managerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 3rem;
}

.section-one {
    max-width: 50%;
}

.imageManager {
    width: 120%;
}

.buttonManager {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
} 