footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(67, 96, 222);
    width: 100%;
}

.email-footer {
    padding: 3rem;
    margin: auto;
    text-align: center;
    color: white;
    width: 40%;
}

h3 {
    font-size: 2rem;
}

.sub-footer {
    background-color: rgb(31, 31, 61);
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
    padding-inline: 8rem;
    color: white;
}

input {
    height: 2rem;
    border-radius: 5px;
    border: 2px solid white;
    padding-left: 10px;
    margin-right: 1rem;
    width: 60%;
    &:focus {
        border: 2px solid rgb(241, 84, 84);
        outline: none;
    }
}

@media (max-width: 768px) {

    h5 {
        margin-top: 0px;
    }

    h3 {
        font-size: 1.4rem;
        width: 70%;
        margin: auto;
    }

    .email-footer {
        margin-block: 3rem;
        padding: 0px;
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        justify-content: center;
        margin: auto;
        margin-top: 2rem;
    }

    .inputFooter {
        width: 100%;
        margin-bottom: 0.8rem;  
        padding-block: 17px;
        box-sizing: border-box;
    }

    .sub-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}