header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
  }
  
  /* Ocultar en móvil */
  .hide-on-mobile {
    display: block;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .burger span {
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
  }
  
  /* Reglas en pantallas pequeñas */
  @media (max-width: 900px) {
    .hide-on-mobile {
      display: none;
    }
  
    .burger {
      display: flex;
    }
  }
  