.features {  
    display: row;
    justify-items: center;
    max-width: 60%;
    margin: 3rem auto;
}

.selector {
    display: flex;
    width: 75%;
    justify-content: space-between;
    list-style: none;
    margin: 3rem auto;
}

.nav-button {
    border-style: none;
    background-color: white;
    font-size: 0.9rem;
    cursor: pointer;
    min-width: 145px;
}

.underline {
    width: 100%;
    height: 3px;
    background: transparent;
    margin-top: 0.5rem;
}

.active + .underline {
    background: red;
}

.dynamic-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 2rem;
}

.section-two {
    max-width: 40%;
    padding-left: 3rem;
}

img{
    width: 90%;
}

.buttonManager {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
}