<section class="featuresContainer">
    <div class="section-first">
        <div class="features">
            <h2>Features</h2>
            <p>Our aim is to make it quick and easy for you to access your favourite websites. Your booksmarks sync
                between your devices so you can acces them on the go.</p>
        </div>

        <div class="nav selector" id="selector-tab">
            <div class="nav-container">
                <button class="nav-button active" id="bookmarking-tab" type="button" aria-selected="true">Simple
                    Bookmarking</button>
                <div class="underline"></div>
            </div>
            <div class="nav-container">
                <button class="nav-button " id="searching-tab" type="button" aria-selected="false">Speedy
                    Searching</button>
                <div class="underline"></div>
            </div>
            <div class="nav-container">
                <button class="nav-button " id="sharing-tab" type="button" aria-selected="false">Easy Sharing</button>
                <div class="underline"></div>
            </div>
        </div>
    </div>

    <div class="dynamic-section">
        <div class="imageFeature">
            <img src="assets/img/illustration-features-tab-1.svg">
        </div>
        <div class="section-two">
            <h2>Bookmark in one click</h2>
            <p>Organaze your bookmarks however you like. Our simple drag-and-drop interface gives you complete control
                over how you manage your favourite sites.</p>
            <div class="buttonManager"><app-button></app-button></div>
        </div>
    </div>
</section>