  .base-button {
    padding: 0.5rem 2rem;
    border-radius: 6px;
    font-weight: 700;
    border: 1px solid;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .primary {
    background-color: rgb(69, 98, 244);
    border-color: rgb(69, 98, 244);
    color: white;
    &:hover {
        background-color: white;
        color: rgb(69, 98, 244);
        border-color: rgb(69, 98, 244);
      }
  
   
  }
  
  .secondary {
    background-color: rgb(241, 84, 84);
    color: white;
    border-color: rgb(241, 84, 84);
  
    &:hover {
        background-color: white;
        color: rgb(241, 84, 84);
        border-color: rgb(241, 84, 84);
      }
  }

  .terceary {
    background-color: rgb(237, 236, 236);
    color: gray;
    border-color: rgb(237, 236, 236);
  
    &:hover {
        background-color: white;
        color: gray;
        border-color: gray;
      }

  }
  

  @media (max-width: 768px) {
    .base-button{
      font-size: 1.5rem;
      padding-block: 1.5rem;
    }
  }