svg {
    margin-left: 2rem;
    margin-top: 0.7rem;
    &:hover {
        color: rgb(241, 84, 84);
    }
}

@media (max-width: 768px) {
    svg {
        margin-left: 0px;
        padding-inline: 1rem;
    }
}
