.container-question {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  margin: auto;
  border-bottom: 1.5px solid rgb(222, 221, 221);
}

.container-question.is-first {
  border-top: 1.5px solid rgb(222, 221, 221);
}

.arrow-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
}

p:hover {
  color: rgb(241, 84, 84);
}

.answer {
  width: 60%;
  margin: 0 auto;
  padding: 1rem 0;
  color:  rgb(165, 165, 165);
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .container-question {
    width: 90%;
  }

  .answer {
    width: 90%;
  }
}
